h1{
    color:rgb(71, 128, 14);
    font-family: 'Times New Roman', Times, serif;
    margin-top:3rem;
    
}
.user{
    color: rgb(30, 92, 208);
    list-style: none;
}
h3{
    color: rgb(252, 250, 250);
    background-color: rgb(135, 184, 78);
    text-align: center;
}
.cardIimg{
    height:70px;
    width: 70px;
}
.btnPosition{
    justify-content: center;
}
.btnSize{
    width: 5rem;
}
.cardStyle{
    align-items: center;
}